* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 5px;
  font-size: 45px;
  margin-top: 20px;
}

.day {
background-color: rgb(35, 165, 197);
}
.hour {
background-color: rgb(35, 165, 197);
}
.min {
background-color: rgb(35, 165, 197);
}
.sec {
background-color: rgb(35, 165, 197);
}
.inp {
background-color: rgb(35, 165, 197);
  font-size: 30px;
}
.btn {
  font-size: 30px;
}

.form{
    display: grid;
      gap: 5px;
      font-size: 40px;
      margin-top: 15px;
      background-color: rgb(35, 165, 197);
}
.butttton{
  font-size: 30px;
  background-color: rgb(142, 18, 214);
}
.container{
  display: flex;
  justify-content: center;
}